#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# testing stuff
**/.testing/*

# provider file
terraform-provider-activedirectory

# test coverage
coverage.txt

# ignore release build
**/dist/*
