# Golang CircleCI 2.0 configuration file
#
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2.1
parameters:
  go-image-tag:
    type: string
    default: "1.13"

  workingdir:
    type: string
    default: "/go/src/github.com/adlerrobert/terraform-provider-activedirectory"
  
  testdir:
    type: string
    default: "/tmp/test-reports/unit"

  ad-host:
    type: string
    default: localhost
  
  ad-port:
    type: integer
    default: 10389
  
  ad-usetls:
    type: boolean
    default: false

  ad-user:
    type: string
    default: "uid=admin,ou=system"
  
  ad-password:
    type: string
    default: "secret"
  
  ad-domain:
    type: string
    default: "openmicroscopy.org"

  ad-base-ou:
    type: string
    default: "ou=computer,dc=openmicroscopy,dc=org"

docker_job_setup: &docker_job
    docker:
      - image: circleci/golang:<< pipeline.parameters.go-image-tag >>
    working_directory: << pipeline.parameters.workingdir >>

jobs:
  # linting job - performs go and terraform linting ###########################
  lint:
    <<: *docker_job
    steps:
      - checkout
      - run:
          name: GO get
          command: go get -v -t -d ./...
      - run:
          name: Tools
          command: make tools
      - run:
          name: Format Check
          command: make fmtcheck
      - run:
          name: Linter
          command: make lint
      - persist_to_workspace:
          root: /go/src/github.com/adlerrobert
          paths:
            - terraform-provider-activedirectory

  # golang unit tests #########################################################
  unit-test:
    <<: *docker_job

    environment:
      GOTESTSUM_JUNITFILE: << pipeline.parameters.testdir >>/junit.xml
      GOTESTSUM_FORMAT: short-verbose

    steps:
      - attach_workspace:
          at: /go/src/github.com/adlerrobert
      - run:
          name: Prepare tests
          command: mkdir -p << pipeline.parameters.testdir >>
      - run:
          name: Perform tests
          command: make test
      - store_test_results:
          path: << pipeline.parameters.testdir >>
      - run:
          name: Move tests to CodeCov.io
          shell: /bin/bash -eo pipefail
          command: |
            bash <(curl -s https://codecov.io/bash)

  # terraform acceptance tests ################################################
  integration-test:
    docker:
      - image: circleci/golang:<< pipeline.parameters.go-image-tag >>
      - image: openmicroscopy/apacheds

    working_directory: << pipeline.parameters.workingdir >>

    environment:
      DOCKERIZE_VERSION: v0.6.1
      AD_HOST: << pipeline.parameters.ad-host >>
      AD_PORT: << pipeline.parameters.ad-port >>
      AD_DOMAIN: << pipeline.parameters.ad-domain >>
      AD_USE_TLS: << pipeline.parameters.ad-usetls >>
      AD_USER: << pipeline.parameters.ad-user >>
      AD_PASSWORD: << pipeline.parameters.ad-password >>
      AD_TEST_BASE_OU: << pipeline.parameters.ad-base-ou >>

    steps:
      - checkout
      - run:
          name: GO get
          command: go get -v -t -d ./...
      - run:
          name: Install utils
          command: sudo apt-get update && sudo apt-get install -y ldap-utils
      - run:
          name: Get Dockerize
          command: wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
              && sudo tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
      - run:
          name: Wait for LDAP test server
          command: dockerize -wait tcp://<< pipeline.parameters.ad-host >>:<< pipeline.parameters.ad-port >> -timeout 2m
      - run:
          name: Modify LDAP with test data
          command: ldapadd -v -h << pipeline.parameters.ad-host >>:<< pipeline.parameters.ad-port >> -c -x
            -D << pipeline.parameters.ad-user >> -w << pipeline.parameters.ad-password >> -f ./tests/ad_test_data.ldif
      - run:
          name: Run accpetance tests
          command: make testacc

  # release steps #############################################################
  release:
    <<: *docker_job

    steps:
      - checkout
      - run:
          name: GO get
          command: go get -v -t -d ./...
      - run:
          name: Install UPX
          command: sudo apt-get install -y upx
      - run:
          name: Release
          no_output_timeout: 60m
          command: curl -sL https://git.io/goreleaser | bash -s -- --release-notes=CHANGELOG.md

workflows:
  version: 2.1

  main:
    jobs:
      - lint:
          filters:
            branches:
              ignore:
                - gh-pages
            tags:
              only: /.*/
      - unit-test:
          requires:
            - lint
          filters:
            branches:
              ignore:
                - gh-pages
            tags:
              only: /.*/
      - integration-test:
          requires:
            - lint
          filters:
            branches:
              ignore:
                - gh-pages
            tags:
              only: /.*/
      - release:
          requires:
            - unit-test
            - integration-test
          filters: 
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
